* {
    box-sizing: border-box;
}

:root {    
    --indent: 30px;
    --header-height: 55px;
    --header-back-color: ghostwhite;        
}

body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    font-variant-ligatures: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    text-decoration-skip-ink: auto;
    background: rgb(32, 35, 41);
}

/* HEADER */

header {
    background-color: var(--header-back-color);
    width: 100%;
    height: var(--header-height);   
    position: fixed;
    z-index: 20;

}

.header-wrp {
    margin: auto;
    width: calc(100% - calc(var(--indent)*2));
    display: grid;
    grid-template-rows: var(--header-height);
    grid-template-columns: auto 200px 40% 120px 100px 100px auto;
    grid-template-areas: ". logo . date1 date2 name .";
    align-items: center;     
}

.logo {
    grid-area: logo;
    height: var(--header-height);
    cursor: pointer;    
}


.btn-wrp:hover {
    cursor: pointer;
    background-color: darkslategrey;
    color: rgb(255, 152, 0);
}

.btn-wrp, .btn-wrp:focus {
    background-color: var(--header-back-color);
    border: 0;
    outline: 0;
    height: 50px;
}

.episode-sort {
    grid-area: name;
    justify-self: center;
    align-self: center;
}

#date-desc {
    grid-area: date1;
    justify-self: center;
    align-self: center;
}

#date-asc {
    grid-area: date2;
    justify-self: center;
    align-self: center;

}

.hd-text {
    font-size: 1rem;
    font-weight: bold;
}

/* CARDS */

#container {
    position: relative;
    top: var(--header-height);
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.char-wrp {    
    margin: 20px 10px;
    width: 440px;
    height: 230px;
    border-radius: 10px;
    background-color: rgb(60, 62, 68);
    font-size: 0.9rem;  
       
}

.char-wrp:hover {
    box-shadow: 0 0 10px ghostwhite;
}


.par {
    font-weight: bold;
    margin: 5px;
    top: -170px;
    left: 150px;
    position: relative;
    width: 75%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /*flex: 3 1 0%;
    padding: 0.75rem;*/
}

.par-text {    
    margin: 5px;
    width: 60%;
    top: -170px;
    left: 150px;
    position: relative;
    color: darkgrey;
    /*display: flex;
    flex-direction: column;*/
}


.image {
    width: 150px;
    border-radius: 20px;
    padding: 2%;
    opacity: 1;
    object-position: center center;
    object-fit: cover;
    margin-top: 20px;
    transition: opacity 0.5s ease 0s;
}

.charname {
    text-transform: uppercase;
    color: rgb(255, 152, 0);
    cursor: pointer;
}

.delete-btn {
    border: 0;
    outline: 0;
    opacity: 0.6;
    width: 132px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 180px;
    font-size: 1rem;
    font-weight: bold;    
    position: absolute;
    text-align: center;    
}

.delete-btn:hover {
    opacity: 1;
    cursor: pointer;
    background-color: var(--header-back-color);
}

